body {
  --CAR: Orange;
  --KAL: LimeGreen;
  --LEE: LightGreen;
  --JER: NavajoWhite;
  --BRO: Green;
  --CLC: Honeydew;
  --SPR: PaleGoldenRod;
  --CAB: LimeGreen;
  --FEN: YellowGreen;
  --PLA: Gold;
  --ASP: LimeGreen;
  --GAR: HoneyDew;
  --SPI: MediumSeaGreen;
  --SON: LightGreen;
  --CAS: Linen;
  --RHU: Plum;
  --ART: PaleGreen;
  --RAD: Pink;
  --END: LimeGreen;
  --SEA: OliveDrab;
  --WAT: MediumSeaGreen;
  --AVO: MediumAquaMarine;
  --LET: LimeGreen;
  --HER: Green;
  --POT: OldLace;
  --ROC: Green;
  --TOM: Tomato;
  --COU: MediumSeaGreen;
  --AUB: Purple;
  --BEA: LimeGreen;
  --CUC: MediumSeaGreen;
  --OKR: MediumSeaGreen;
  --PSH: LimeGreen;
  --PEA: LimeGreen;
  --SAM: Green;
  --PEP: OrangeRed;
  --GIN: GoldenRod;
  --ONI: Khaki;
  --SPO: Coral;
  --PAK: MediumSeaGreen;
  --KHO: HoneyDew;
  --BEE: DarkMagenta;
  --CEL: PaleGreen;
  --SQU: DarkOrange;
  --CAU: OldLace;
  --OLI: Olive;
  --WCH: LightYellow;
  --PAR: LightGoldenRodYellow;
  --MUS: Tan;
  --TUR: Gold;
  --BRU: YellowGreen;
  --SWE: BlanchedAlmond;
  --MGR: Green;
  --BAM: Beige;
}
