* {
  box-sizing: border-box;
}

body {
  background-color: #012;
  color: silver;
  margin-bottom: 20vh;
  font-family: "Ubuntu Mono", monospace;
}

h1 {
  font-size: 1.5em;
}

input {
  color: #124;
  border: 0;
  border-radius: 0;
}

a {
  color: deepskyblue;
  text-decoration: none;
}

.router-link-exact-active {
  color: limegreen;
}

.fl-r {
  float: right;
  margin-left: 1em;
}
