* {
	box-sizing: border-box;
}

body {
	background-color: #012;
	color: hotpink;
}

#app {
	padding: 2em;
}

input {
	border: solid 2px midnightblue;
	border-radius: 0.2em;
}

a {
	color: skyblue;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: hotpink;
}

button {
	min-height: 3rem;
	min-width: 3rem;
	font-size: xx-large;
	color: white;
	background-color: green;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

button:hover {
	background-color: limegreen;
}
